<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>头像审核</title>


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
        .site-icon {
            padding: 5px 10px 0 10px;
        }
    </style>
    {% block ext_css %}{% endblock %}
</head>

<body>

<form method="post" action="/check/updata/">


    <div class="list-group">
        {% for icon in icons %}
            {{ icon.user_id }}
            <img src="{{ img_url+icon.icon }}">
            <input name="user" type="hidden" value="{{ icon.user_id }}"/>
            <select name="test">
                <option value="2">通过</option>
                <option value="3">不通过</option>
            </select>
        {% endfor %}
    </div>

    <input type="submit"/>
</form>
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% for n in pages %}
            <li><a href="/check/{{ n }}">{{ n }}</a></li>
        {% endfor %}
    </ul>
</nav>

</body>
